div.App {
  border: 1px solid grey;
  background-color: #fafafa;
}

body {
  max-width: 400px;
  margin-left: 10%;
}

header {
  background-color: #f36fdd;
  padding: 2rem 1rem 3rem 1rem;
  margin-top: 2rem;
}

.contHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.faIcon {
  color: #f0f0f0;
}

.titleHeader {
  text-align: left;
  align-self: start;
  font-size: 24px;
}

.subtitleHeader {
  font-size: 18px;
}

.progress-bar {
  background-color: #f93e81;
}

div.container {
  margin-top: 3rem;
  justify-content: space-between;
  padding: 0
}

.userPic {
  padding: 3px;
  border: 3px solid #F36fdd;
  border-radius: 35%
}

.nombre, input.form-control {
  background-color: #f0f0f0;
  padding-bottom: 1rem;
}

input.form-control {
 height: 4rem;
 width: 90%;
 margin: 0 auto;
}

.titleComp {
  text-align: left;
  font-size: 24px;
  padding: 1rem;
}