div.App {
  background-color: #fafafa;
}

body {
  max-width: 390px;
  margin-left: 10%;
}

header {
  background-color: #f36fdd;
  padding: 3.5rem 1.5rem 1.5rem 1.5rem;
  margin-top: 2rem;
}

.contHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.faIcon {
  color: #f0f0f0;
}

.titleHeader {
  text-align: left;
  align-self: start;
  font-size: 24px;
  font-weight: bold;
}

.subtitleHeader {
  font-size: 18px;
}

div.container {
  margin-top: 3rem;
  justify-content: space-between;
  padding: 0
}

.userPic {
  padding: 3px;
  border: 3px solid #F36fdd;
  border-radius: 30%;
  margin: -2rem 0 0 1rem;
  width: 80px;
  height: 110px;
  object-fit: cover;
}

.forma, input.form-control {
  background-color: #f0f0f0;
  padding-bottom: 1rem;
  margin-right: 1rem;
}

.forma {
  border-radius: 5px;
}

input.form-control {
 height: 3.7rem;
 width: 90%;
 margin: 0 auto;
 color: black;
 font-size: 18px;
}

.titleComp {
  text-align: left;
  font-size: 20px;
  padding: 1.5rem;
  font-weight: bold;
}

.printData, .printDataFinal {
  background-color: #f36fdd;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  font-size: 16px;
}

.printData {
  margin: 2rem 1rem 0 -2rem;
}

.printDataFinal {
  margin: 1rem 1rem 0 -5.5rem;
}

.printData p, .printDataFinal p {
  margin: 0;
}

.final {
  background-color: #f0f0f0;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

button.btn {
  background-color: #f93e81;
  color: #fafafa;
  width: 120%;
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
  margin-left: -5rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: #f36fdd;
  border-radius: 50%;
  float: right;
  transform: translate(25px, 85px)
}

.badgeIcon {
  transform: translate(8px, 4px);
}