body {
  background-color: #f0f0f0;
  max-width: 400px;
  margin-left: 10%;
}

header {
  background-color: #f36fdd;
  padding: 2rem 1rem 3rem 1rem;
  margin-top: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.faIcon {
  color: #f0f0f0;
}

.titleHeader {
  text-align: left;
  align-self: start;
  font-size: 22px;
}

.subtitleHeader {
  font-size: 18px;
}

.progress-bar {
  background-color: #f93e81;
}
